RewriteEngine On

RewriteRule ^Login?$ index.php
RewriteRule ^SignUp?$ signup.php
RewriteRule ^Home?$ dashboard.php
RewriteRule ^AboutPhantom?$ aboutUs.php
RewriteRule ^Admin?$ admin.php
RewriteRule ^Admin/Registration?$ userRequest.php
RewriteRule ^Admin/ManageUsers?$ adminManageUsers.php
RewriteRule ^Students/([0-9a-zA-Z]+) studentProfile.php?username=$1
RewriteRule ^Students/ studentProfile.php
RewriteRule ^College/([A-Z]+)/([A-Z]+)/([0-9]+) professors.php?college=$1&department=$2&profid=$3
RewriteRule ^College/([A-Z]+)/([A-Z]+) department.php?college=$1&department=$2
RewriteRule ^College/([A-Z]+) college.php?college=$1
RewriteRule ^College/ college.php
